* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background: f7efef;
  align-items: center;
}

.logo-img {
  color: white;
  background-color: #032f46;
  padding: 48px;
}
nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  text-decoration: none;
}

.menu-icon {
  display: inline-grid;
  justify-items: center;
}
#right-menu h2 {
  background-color: #87c3df;
  padding: 15px 35px;
}

.login-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 425px;
  background-size: cover;
  backface-visibility: visible;
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0.7 / 65%),
      rgb(0 0 0.7 / 65%)
    ),
    url("img/law\ harmer.jpg");
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.hero-content h1 {
  font-size: 70px;
}
.hero-content h3 {
  font-size: 40px;
}
.hero-card {
  background: white;
  width: 55%;
  height: 200px;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-card h3 {
  font-size: 25px;
  text-align: center;
  padding-top: 45px;
}

.card-button {
  display: flex;
  justify-content: space-around;
  color: white;
}
.card-button div {
  background-color: #259ebb;
  padding: 20px 45px;
  border-radius: 10px;
  font-size: large;
}

.about-section {
  width: 100%;
  height: 100vh;
  padding: 26% 6%;
  display: flex;
  align-items: center;
}
.about-text {
  padding: 35px 50px;
  color: #032f46;
}
.about-text h2 {
  padding: 10px 0px;
}
.about-text p {
  padding: 20px 0px;
}
.about-text ul {
  padding: 5px 0px;
  list-style-type: square;
}
.about-text li {
  padding: 5px 0px;
  list-style-type: square;
}
.about-text h3 {
  color: #259ebb;
}
#visionary-color {
  color: #259ebb;
}
.about-text h2 {
  font-size: 45px;
}
.view-btn {
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #259ebb;
  color: white;
  border-style: none;
}
.icon-section {
  margin: 0% 8%;
}
.icon-section h2 {
  font-size: 35px;
}
.icon-box {
  background-color: #f5f7f9;
  width: 100%;
  height: 355px;
}
.icon-cards {
  width: 100%;
  display: flex;
}
.icon-card {
  background-color: #ffffff;
  width: 60%;
  height: 335px;
  margin: 10px 10px;
  text-align: center;
  padding-top: 100px;
}

.icons {
  background-color: #f5f7f9;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50px;
}

.photo-card {
  width: 100%;
  height: 500px;
}
