* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background: f7efef;
  align-items: center;
}

.logo-img {
  color: white;
  background-color: #032f46;
  padding: 48px;
}
nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  text-decoration: none;
}

.menu-icon {
  display: inline-grid;
  justify-items: center;
}
#right-menu h2 {
  background-color: #87c3df;
  padding: 15px 35px;
}

.login-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 425px;
  background-size: cover;
  backface-visibility: visible;
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0.7 / 65%),
      rgb(0 0 0.7 / 65%)
    ),
    url("img/law\ harmer.jpg");
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.hero-content h1 {
  font-size: 70px;
}
.hero-content h3 {
  font-size: 40px;
}
.hero-card {
  background: white;
  width: 55%;
  height: 200px;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-card h3 {
  font-size: 25px;
  text-align: center;
  padding-top: 45px;
}

.card-button {
  display: flex;
  justify-content: space-around;
  color: white;
}
.card-button div {
  background-color: #259ebb;
  padding: 20px 45px;
  border-radius: 10px;
  font-size: large;
}

.about-section {
  width: 100%;
  height: 100vh;
  padding: 26% 6%;
  display: flex;
  align-items: center;
}
.about-text {
  padding: 35px 50px;
  color: #032f46;
}
.about-text h2 {
  padding: 10px 0px;
}
.about-text p {
  padding: 20px 0px;
}
.about-text ul {
  padding: 5px 0px;
  list-style-type: square;
}
.about-text li {
  padding: 5px 0px;
  list-style-type: square;
}
.about-text h3 {
  color: #259ebb;
}
#visionary-color {
  color: #259ebb;
}
.about-text h2 {
  font-size: 45px;
}
.view-btn {
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #259ebb;
  color: white;
  border-style: none;
}
.icon-section {
  margin: 0% 8%;
}
.icon-section h2 {
  font-size: 35px;
  color: #032f46;
  font-weight: 100;
  padding-bottom: 20px;
}
.icon-box {
  background-color: #f5f7f9;
  width: 100%;
  height: 355px;
}
.icon-cards {
  width: 100%;
  display: flex;
}
.icon-card {
  background-color: #ffffff;
  width: 60%;
  height: 335px;
  margin: 10px 10px;
  text-align: center;
  padding-top: 100px;
}

.icons {
  background-color: #f5f7f9;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50px;
}

.photo-card {
  width: 100%;
  height: 300px;
  margin: 5% 0%;
  display: flex;
  justify-content: space-evenly;
}

.arrow-btn {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-card-profile {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-1 {
  display: none;
}
.card-2 {
  display: none;
}
.photo-card-top {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}
.card-main-photo {
  width: 90px;
  border-radius: 10px;
}
.photo-card-text {
  padding: 20px;
}
.photo-card-text h2 {
  font-size: 16px;
}
.photo-card-text h3 {
  font-size: 11px;
}
.photo-card-profile p {
  padding: 10px 30px;
  font-size: small;
}

.photo-card-bottom {
  width: 100%;
  height: 75px;
  background-color: #8dcbe8;
  display: flex;
  align-items: center;
}
.photo-card-bottom-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card-bottom-icon p {
  margin: -5px;
  font-weight: bold;
}
.event-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.event-img-box {
  position: relative;
  width: 40%;
  height: 600px;
  padding-left: 45px;
}

.event-img-box img {
  width: 400px;
}
.event-card-box {
  position: absolute;
  width: 355px;
  height: 355px;
  background-color: #259ebb;
  color: white;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right-event-card-text {
  align-items: center;
  text-align: center;
}
.right-event-card-text p {
  font-size: 13px;
}

.upcoming-event-heading {
  padding-top: 40px;
  font-size: 45px;
  color: #032f46;
}

.upcoming-event-bands {
  margin-top: 55px;
  width: 500px;
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-date-band {
  color: white;
  background-color: gray;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event-band-month-box {
  background-color: #032f46;
  padding: 10px;
  height: 50%;
  width: 75px;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-band-date-box {
  background-color: #259ebb;
  padding: 10px;
  height: 50%;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcoming-event-middle-box {
  width: 80%;
  height: 50%;
  padding: 0px 14px;
  color: #103a4f;
  background-color: white;
}
.upcoming-event-middle-box h3 {
  color: #259ebb;
}
.event-band-read-more {
  background-color: #8dcbe8;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.event-band-read-more p {
  transform: rotate(-90deg);
}

footer {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #032f46;
  height: 400px;
  text-align: center;
}

.contact-form {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 10px 15px;
  font-size: large;
}
